<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Title</title>
    <script src="/public/js/jquery-3.2.1.js"></script>
    <script src="/public/js/bootstrap.js"></script>
    <script src="/public/js/profile_script.js"></script>

    <link rel="stylesheet" href="/public/css/bootstrap.css">
    <link rel="stylesheet" href="/public/css/font-awesome.css">
    <link rel="stylesheet" href="/public/css/profile_style.css">
</head>
<body>

<form action="/viewallposts"><input type="submit" value="fetch posts"></form>

<div class="container">
    <ul id="dispposts">
        <%if(postsdata!='NULL'){%>
        <%for(let i in postsdata){ %>
        <li>
            <div class="card post_card">
                <div class="card-block">
                    <div>
                        <img class="col-1 post_image" src="https://scontent.xx.fbcdn.net/v/t1.0-1/c6.0.50.50/p50x50/10352376_881258811885991_7959390306461901352_n.jpg?oh=5bee976ccd02493a5148d551cde83649&oe=5A308E1F">
                        <h4 class="card-title post_heading">CSI NSIT</h4>
                        <small class="offset-1 text-muted post_time"><%=postsdata[i].created_time%></small><br><br>
                    </div>
                    <br>
                    <pre class="card-text"><%=postsdata[i].message%></pre>
                    <%if(postsdata[i].picture){%>
                    <br>
                    <img class="post_picture" src=<%=postsdata[i].picture%>>
                    <br>
                    <%}%>
                    <hr>
                    <div class="row">
                        <div class="col">
                            <i class="fa fa-thumbs-up"></i> <%=postsdata[i].likes%> <small>Likes</small>
                        </div>
                        <div class="col">
                            <i class="fa fa-share"></i> <%=postsdata[i].shares%> <small>Shares</small>
                        </div>
                    </div>
                </div>
            </div>
        </li>
        <%}%>
        <%}%>
    </ul></div>

</body>
</html>